<!DOCTYPE html>
<html>

<head>
	<meta name="Description" content="test socket.io">
	<meta name="viewport" content="width=device-width">
	<!-- <script src="in.disable.f5.js" defer></script> -->
	<script src="in.beforeunload.js" defer></script>
	<script src="/lib/localforage.js" defer></script>
	<script src="/lib/socket.io.js" defer></script>
	<script src="/lib/vue.js" defer></script>
	<script src="/lib/jquery.js" defer></script>
	<script src="fn.link.js" defer></script>
	<script src="fn.uid.js" defer></script>
	<script src="index.js" defer></script>
	<title>TM5</title>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
	<div id="app" style="display:none;">
		<div class="center" v-if="userType==='guest'">
			<label><span>Email</span><input type="email"></label>
			<label><span>Password</span><input type="password"></label>
			<button @click="login">Login</button>
		</div>
		<div v-if="userType==='user'">user</div>
		<div v-if="userType==='admin'">admin</div>
		<div class="right">
			<code id="numOnline">🤗{{numOnline}}</code>
			<div class="userlist">
				<div class="user" v-for="user in users">
					<span class="sid">{{user.id}}</span>
					<span class="files">
						<button v-for="file in user.files">{{file.name}}</button>
					</span>
				</div>
			</div>
		</div>
	</div>
	<noscript>Your browser does not support JavaScript!</noscript>
</body>

</html>